body{
  font-family: "Verdana";
  background-color: #4d75b3;/*blue*/
  
}

button {
  background-color: #f44336;/*red*/
  color: #ffffff;/*white*/
  border: none;
  padding: 1vh 2vh;
  text-align: center;
  border-radius: 2%;
  font-size: 100%;
}

#wrapper{
	background-color:#e2fdff;
	height:100%;
	width:75%;
	border: solid white;
	margin: 0 auto;
	clear: both;
}

header{
	background-color: #4bc3cc;
	text-align: center;
	padding:25px;
	border: solid white;
	
}



button:hover {
  background-color: #da190b;/*dark red*/
}

a:link, a:visited {
  color: #800080;/*purple*/
}

ul {
  list-style-type: none;
}

.throttle{
-webkit-apperance: none;
appearance: none;
width:25px;
height:100%;
background:#d3d3d3;
outline: none;
opacity:0.7;
-webkit-transition: .2s;
transition: opacity .2s;
	
}

.throttle:hover {
	pacity: 1;
	
}
.throttle::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.throttle::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
