body{
  font-family: "Verdana";
  background-color: #4d75b3;/*blue*/
  
}

button {
  background-color: #f44336;/*red*/
  color: #ffffff;/*white*/
  border: none;
  padding: 1vh 2vh;
  text-align: center;
  border-radius: 2%;
  font-size: 100%;
}

#wrapper{
	background-color:#e2fdff;
	height:100%;
	width:75%;
	border: solid white;
	margin: 0 auto;
	clear: both;
}

header{
	background-color: #4bc3cc;
	text-align: center;
	padding:25px;
	border: solid white;
	
}



button:hover {
  background-color: #da190b;/*dark red*/
}

a:link, a:visited {
  color: #800080;/*purple*/
}

ul {
  list-style-type: none;
}
